
body{
    margin: 0px;
   
}

img{
    padding-top: 4px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline;
}

.navbar{
    background-color:#313633 ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar:first-child{}

.navbar > a{
    margin: 0px 50px 0px 50px;
    }

a:hover{
    transition: 0.2s;
    opacity: .2;
}